
body{
    margin: 0;
}
header{
    margin-top: 10px;
    text-align: center;
}
li, ul ,a{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

main{
    text-align: center;
}


nav a {
    font-size: 1.5em;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-family: 'Handlee', cursive;
    border-right: solid 2px;
    border-right-color: rgb(245, 224, 178);
    }
nav{
    background-color: #bbb8b3;
    text-align: right;
    padding: 8px;
}


.home{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: center;
        margin: 50px;
}

h1{
    font-family: 'Handlee', cursive;
    background-color: bisque;
    color: white;
}
h3{
    font-family: 'Cinzel', serif;
    color: #bbb8b3;
}
li a{
    color: #bbb8b3;
   
}
li{
 color: rgb(163, 221, 75);
 font-family: 'Cinzel', serif;
}
main div{
    padding: 10px;
    padding-top: 20px;
    padding-top: 20px;
    border: 5px double #bbb8b3;
    margin: 20px;
    -webkit-box-shadow: 21px 20px 20px -16px rgba(184,184,184,1);
    -moz-box-shadow: 21px 20px 20px -16px rgba(184,184,184,1);
    box-shadow: 21px 20px 20px -16px rgba(184,184,184,1);
    
}

main div a{
    font-family: 'Handlee', cursive;
    font-size: 5em;
    line-height: 1;
    color: rgb(187, 187, 187);

}
footer{
    background-color: #bbb8b3;
    color: white;
    padding: 5px;
}

