header{
    text-align: center;
    background-color: #49a8f7;
    padding: 30px;
    color: #ffffff
}
li, ul ,a{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
main{
    text-align: center;
}
h2{
    background-color: #ffea8f;
    padding: 5px;
}